<h2>Record a Pairing w/ <%= @pair.name %></h2>
<%= image_tag @pair.photo_name %>
<%= form_for [@pair, @pairing] do |f| %>
  <div class="form-row">
    <%= f.label :pair_date, "When did you pair with #{@pair.name}?" %>
  </div>
  <div class="form-row">
    <%= f.date_field :pair_date %>
  </div>
  <div class="form-row">
    <%= f.submit "Create Pairing" %>
  </div>
<% end %>